/* .login{

    font-size: medium;
    cursor: pointer;
} */
.loginpage{
    box-shadow: 5px 5px 10px 5px;
    background-color: rgb(105, 163, 173);
    margin-left: 250px;
    padding: 100px;
    margin-right: 100px;
    text-align: center;
    


    
}
.in{
    margin-left:25px;
    margin-right:20px;
    
}
.login{
    margin-left:25px;
    margin-right:20px;

}




