.mainpage{
    box-shadow: 5px 5px 10px 5px;
    background-color: rgb(105, 163, 173);
    margin-left: 170px;
    padding: 100px;
    margin-right: 70px;
    margin-top: 50px;
    text-align: center;
    height:250px;
    width:1200px;
    


    
}