.lg{
    box-shadow: 5px 5px 10px 5px;
    background-color: rgb(91, 68, 68);
    margin-left: 250px;
    padding: 100px;
    margin-right: 250px;
    text-align: center;

    
}
.name{
    margin-left:1px;
    margin-right:15px;
   
    
}
.e{
    margin-left:1px;
    margin-right:11px;


}
.pass1{
    margin-left:2px;
    margin-right:73px;

}
.confirm{
    margin-left:9px;
    margin-right:100px;

    
    

}
.btn{
 margin-left:9px;


}

